@import "../../../styles/settings.scss";

// .root {
// }

.additionalData {
  position: absolute;
  background-color: $button-main;
  left: calc(100% + 10px);
  color: $color-white;
  padding: 2.5px 10px;
  white-space: nowrap;
  top: 50%;
  transform: translateY(-50%);
  display: none;

  &::after {
    content: '';
    position: absolute;
    left: -4px;
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;
    border: 5px solid transparent;
    border-top: 5px solid $button-main;
    border-left: 5px solid $button-main;
  }
}

.main {
  background-color: $button-main;
  color: $color-white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
}

.medium {
  @extend .main;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 15px;
  font-weight: 400;
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $button-main;
  color: $text-color;
  font-size: 13px;
  line-height: 22px;
}

@media (min-width: 992px) {
  .main {
    &:not(.noHover):hover {
      @include base-hover-animation;
      color: $color-white !important;
      background-color: $primary;
      text-decoration: none;
    }
  }

  .outline {
    &:not(.noHover):hover {
      @include base-hover-animation;
      background-color: $button-main;
      color: $color-white;
    }
  }

  a {
    &:hover .additionalData {
      display: block;
    }
  }
}

a {
  position: relative; 

  &.active {
    background: $primary;
  }
}
