@import "../../../styles/settings.scss";

.root {
  margin-bottom: 30px;
  position: relative;

  :global(.row) {
    border-bottom: 4px solid $furniture-container-border;
  }

  .heading {
    position: relative;

    h3 {
      color: $primary;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
      margin: 0;
      letter-spacing: 1px;

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }
  }

  .dots {
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
    background-color: $color-white;
    transform: translateY(15px);

    li {
      display: inline-block;
      margin-left: 0.5rem;

      a {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 6px;
        background-color: $dot-bg;
        font-size: 0;

        &.active,
        &:hover {
          background-color: $primary;
        }

        &:hover {
          @include base-hover-animation;
        }
      }
    }
  }
}
