@import "../../../styles/settings.scss";

.images {
  display: grid;
  gap: 5px;
  overflow: hidden;
  grid-template-columns: repeat(6, 1fr);
  margin-inline: 5px;

  .imageContainer {
    border: 0;
    padding: 0;
    aspect-ratio: 1 / 1;

    &:focus {
      outline: none;
    }

    img {
      background-color: $furniture-container-border;
      padding: 5px;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

.fade {
  animation: changePage 500ms ease-out;
}

@keyframes changePage {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .images {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (max-width: 400px) {
  .images {
    grid-template-columns: repeat(3, 1fr);
  }
}