@import "../../../styles/settings.scss";

.popup_Box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
    .box {
    position: relative;
    max-width: 35%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    .productImage{
      height: 270px;
      .image{
        height: 100%;
      };
    };
    .content {
      text-align: center;
      padding: 20px;
      h5 {
        color: $primary;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
      };
      .stars {
        a {
          text-decoration: none;
          color: rgb(42, 42, 42);
        };
      };
    };
  };
  .price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    :first-child {
      margin-right: 3px;
    };
  };
  .close_icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    top: calc(15vh - 33px);
    left: calc(32% - 5px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  };
};