$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;
$secondary: #FAD9A1;
$color-white: #ffffff;
$color-dark-transparent: rgba(84, 84, 84, 0.6);

$text-color: #2a2a2a;

$button-main: #2a2a2a;

$product-border-color: #b6b6b6;
$product-image-bg: #f4f5f7;

$gallery-background-color: #EAF6F6;

$furniture-container-border: #e2e2e2;

$dot-bg: #e1e1e1;

$form-border-color: #292929;

$transition: all 500ms;
$scale-base: 1.1;

@mixin base-hover-animation {
  transform: scale($scale-base);
  transition: $transition;
}

$change-page: changePage 1s ease-out;

@keyframes changePage {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}