@import "../../../styles/settings.scss";

.root {
  background-color: $color-white;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    background: {
      color: $product-image-bg;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;
    &:hover {
      cursor: pointer;

      .additionalInfo {
        display: block;
      }
    }

    .image {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      padding: 10px;
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $form-border-color;
      border-radius: 50%;
      color: $color-white;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }

    .additionalInfo {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0 0 0 0;
      text-align: center;
      display: none;

      a {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .timerLayout {
        position: absolute;
        bottom: 10px;
        width: inherit;
      }
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }
    .link {
      &:hover{
        text-decoration: none;
      }
    }
    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $text-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;

    .outlines {
      display: flex;
      gap: 3px;
    }

    .buttonHover {
      cursor: pointer;
    }
    .isActive {
      background: $primary;
    }
  }

  &:hover .price {
    background: $primary;
  }

  .price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    :first-child {
      margin-right: 3px;
    }
  }

  .oldPrice {
    background-color: $color-white;
    color: $product-border-color;
    text-decoration: line-through;
    text-decoration-color: black;
  }

  .hidden {
    display: none;
  }

  @media (min-width: 992px) {
    .stars {
      :hover {
        @include base-hover-animation;
      }
    }

    .photo {
      .buttons {
        visibility: hidden;
      }
      &:hover .buttons {
        cursor: pointer;
        visibility: visible;
      }
    }

    .actions {
      .isActive {
        &:hover {
          background: $primary;
          color: $text-color;
        }
      }
    }

    &:hover .price {
      background: $primary;
    }
  }
}
