@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@700&display=swap');
@import "../../../styles/settings.scss";

.root {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin-bottom: 2rem;
  text-align: center;

  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > *:not(.dotsLayout) {
      border-bottom: 4px solid $furniture-container-border;
    };

    .heading {
      position: relative;
      width: 100%;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
        text-align: left;
      };

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      };
    };

    .dotsLayout {
      position: absolute;
      transform: translateY(-50%);
      background-color: $color-white;
      padding-left: 15px;
      top: 100%;
      right: 0;
    };
  };

  .feedbackBox {
    padding: 0 60px 30px;

    .decoration {
      font-size: 4rem;
      margin: 0;
      line-height: 1;
      font-family: 'BIZ UDGothic', sans-serif;
    };

    .desc {
      margin: -15px 0 0 0;
      font-size: 14px;
      color: $text-color;
    };

    .image {
      width: 60px;
      aspect-ratio: 1 / 1;
    };

    .personDesc {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        margin: 0;

        &:first-of-type {
          font-weight: 600;
        };

        &:last-of-type {
          font-weight: 300;
        };
      };
    };
  };

  .faded {
    animation: fadeIn 1s;
  };

  @keyframes fadeIn {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  };
};