@import "../../../styles/settings.scss";

.root {
  padding-top: 1.5rem;

  .featuredProductBox {
    margin-bottom: -2rem;

    .heading {
      background-color: $text-color;
      padding: 15px;
      display: flex;
      justify-content: space-between;

      h5 {
        margin: 0;
        color: $color-white;
        text-transform: uppercase;
      }
    }
  }

  .dots {
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
    background-color: transparent;

    li {
      display: inline-block;
      margin-left: 0.5rem;

      a {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 6px;
        background-color: $dot-bg;
        font-size: 0;

        &.active,
        &:hover {
          background-color: $primary;
        }

        &:hover {
          @include base-hover-animation;
        }
      }
    }
  }
      

  .carouselLayout {
    display: flex;
    flex-direction: column;
    position: relative;

    & .image {
      width: 100%;
      flex-grow: 1;
      align-self: stretch;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .promoBanner {
      text-transform: uppercase;
      position: absolute;
      color: $color-white;
      width: calc(100% - 15px * 2);
      background-color: rgba(84, 84, 84, 0.6);
      padding-block: 50px;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      & h2 {
        font-weight: 700;
        font-size: 3.5rem;
        margin: 0;

        & span {
          font-weight: 300;
        }
      }

      & h3 {
        font-size: 1.5rem;
        margin: 0;
        font-weight: 300;
      }

      & .bannerButton {
        padding: 15px 30px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover {
          text-decoration: none;
        }
      }
    }

    & .buttons {
      display: flex;

       & a {
        padding-block: 10px;
        font-size: 1.1rem;
        text-align: center;
        flex-basis: 50%;
      }
    }
  }
}
