@import "../../../styles/settings.scss";

.root {
  padding: 0 0 5rem 0;
  color: $color-white;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;

  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40%;

    .imgLeft {
      position: relative;
      width: 50%;
      height: 100%;
      font-weight: bold;
      font-size: 40px;
      .shadow {
        position: absolute;
        width: 90%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(84, 84, 84, 0.6);
        .description {
          padding: 10px;
          position: absolute;
          left:0;
          bottom: 0;
          .smallFont {
            font-size: 20px;
            margin-bottom: 0;
          }
          .percent {
          border: 3px solid $color-white;
          padding: 5px;
        }
        }

      }
      img {
        width: 100%;
      }
    }
    .imgRight {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 49%;
      max-height: 370px;
              img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        }
      .chairWrapper{
        height: 47%;
        position: relative;
        .chairDescriptionWrapper {
          color: $text-color;
          position: absolute;
          top:37%;
          left: 38%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          .chairDescription{
            font-size: 30px;
          }
          .chairDescription2{
            font-size: 15px;
            font-weight: bolder;
          }
          .chairPrice{
            font-size: 30px;
            color: $primary;
            font-weight: bolder;
          }
        }
      }

      .bedWrapper{
        height: 47%;
        position: relative;
        .bedDescriptionWrapper{
          position: absolute;
          top:35%;
          left:1%;
          display: flex;
          flex-direction: column;
          .bedDescription{
            color:$primary;
            font-size: 20px;
          };
          .bedDescription2{
            color: $text-color;
            font-weight: bolder;
          }
        }
      }
    }

  }
}

@media (max-width:576px){

  .root {
    .wrapper {
      flex-wrap: wrap;

    .imgLeft {
      flex: 1 0 100%;
      font-size: 30px;
      .shadow {
        .description {
          left:0;
          top: 0;
        };
      };
    };

      .imgRight{
        flex-grow: 1;
        justify-content:normal !important;
        .chairWrapper{
          margin: 1rem 0;
            .chairDescriptionWrapper {
            top:25%;
            left: 42%;
            .chairDescription{
              font-size: 22px;
            };
            .chairDescription2{
              font-size: 15px;
            };
            .chairPrice{
              font-size: 26px;
            };
          };
        };

        .bedWrapper{
          margin: 1rem 0;
          .bedDescriptionWrapper{
            top:5%;
            left:1%;
            .bedDescription{
              font-size: 20px;
            };
          };
        };
      };
    };
  };
};

@media (min-width: 577px) and (max-width:768px){

  .root {
    .wrapper {
      flex-wrap: wrap;

    .imgLeft {
      flex: 1 0 100%;
      font-size: 40px;
      .shadow {
        .description {
          left:0;
          top: 0;
        };
      };
    };

      .imgRight{
        flex-grow: 1;
        justify-content:normal !important;
        .chairWrapper{
          margin: 1rem 0;
            .chairDescriptionWrapper {
            top:25%;
            left: 34%;
            .chairDescription{
              font-size: 22px;
            };
            .chairDescription2{
              font-size: 15px;
            };
            .chairPrice{
              font-size: 26px;
            };
          };
        };

        .bedWrapper{
          margin: 1rem 0;
          .bedDescriptionWrapper{
            top:5%;
            left:1%;
            .bedDescription{
              font-size: 20px;
            };
          };
        };
      };
    };
  };
};

@media (min-width: 769px) and (max-width:992px){

  .root {
    .wrapper {
    .imgRight{
          .chairWrapper{
            .chairDescriptionWrapper{
              .chairDescription{
                font-size: 20px;
              };
            };
          };
          .bedWrapper{
            .bedDescriptionWrapper{
              top: 17%;
              left: 1%;
            };
          };
        };
      };
    };
};