@import "../../../styles/settings.scss";

.button {
  width: 25px;
  background-color: $button-main;
  display: flex;
  text-align: center;
  cursor: pointer;

  &:hover {
    @include base-hover-animation;
    background-color: $primary;
  }

  .arrow {
    padding: 0;
    margin: auto;
    color: $color-white;
  }
}