@import "../../../styles/settings.scss";

.card{
  position: relative;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background: {
    color: $color-white;
    size: contain;
    position: center;
    repeat: no-repeat;
  }
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }

  .image {
    height:120px;
    object-fit: cover;
    padding: 5px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    background: $primary;
  }
  &:hover .buttons {
    cursor: pointer;
    display: block;
  }
}

